@font-face {
    font-family: Avenir;
    src: url("../font/Avenir Next LT Pro Regular.otf");

}

@font-face {
    font-family: Mandalore;
    src: url("../font/MandaloreExpanded-1GGd4.otf")



}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Avenir;
    text-decoration: none;
    list-style: none;
}

a, p, h1, h2, h3, h4{
    color:var(--white);
}

body{
    background-color: #0a192f;
}


:root {
    --white: #f5f5f5;
    --black: #020726;
    --dark-navy: #11243e;
    --red: rgb(222,23,56);
    --background: #0a192f;
}

nav{
    height:30px;
}



.header-items{
    display:flex;
    background-color:var(--red);
    background-color:#0a192f;
    justify-content: flex-end;
    align-items: center;
    height:50px;
}

h1{
    font-size:1.3rem;
}

.cover-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(85, 139, 196, 0.1);
    max-width:2000px;
    margin: 0 auto;
}

.desktop-img{
    display:none;
}

.image-container{
    width:80%;
}

.image-container img{
    width:100%;
    object-fit: contain;
}

.text-container{
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.button-container{
    margin:20px 0px;
}

.cv-button{
    padding:5px 15px;
    margin:10px;
    border:solid 2px var(--red);
}


.bio-text{
    max-width:300px;
    margin: 0 auto;
}

.bio-headline{
    width: 100%;
    text-align: center;
    margin:20px auto;
    
}

.fa-brands{
    color:var(--red);
    font-size:3rem;
}

.fa-solid{
    color:var(--red);
    font-size: 1.5rem;
    margin:10px;
}

.skill-icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0px;
}

.links-headline{
    text-align: center;
}

.links{
    display:flex;
    justify-content: center;
    margin-bottom:50px;
}

.links >*{
    text-align: center;
}

#main-git, .fa-linkedin-in{
    margin:20px;
    font-size:2rem;
}



.first-row, .sec-row{
    display:flex;
    justify-content: center;
}

.first-row >*, .sec-row >*{
    margin:10px 10px;
    width:80px;
    text-align: center;
    
}

.bio-info {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

hr{
    width:300px;
    margin:10px 0px;
    color:var(--red);
}



table{
    margin:0 auto;
    
}

td{
    font-weight: bold;
    padding: 5px 20px;  
    color:var(--white);
}

.education{
    text-align: center;
    background-color: var(--red);
    color:var(--white);
    margin:20px 0px;
}
.education >*{
    padding:15px 0px;
}

.other-skills{
    margin-top:-20px;
    text-align: center;
    background-color:var(--dark-navy);
    color:var(--white);
}


.other-skills li::before {
    content: "\2022";
    color: var(--red);
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

.other-skills >*{
    padding: 15px 0px;
}

.portfolio-item{
    margin:20px;
    max-width: 400px;
}


.portfolio-headline{
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-headings{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.portfolio-number{
    font-size: 1.5rem;
    color:var(--red);
}

.portfolio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-img-container{
    margin:20px 0px;
    width:90%;
    /* filter: drop-shadow(0 5px 0.3rem var(--red)); */
}

.portfolio-img-container img{
    width:100%;
    height:200px;
    
    object-fit: cover;
}

.portfolio-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-5px;
    background-color: #11243e;
    color:white;
    text-align: center;

}

.portfolio-card >*{
    margin:10px;
}

.portfolio-card p{
    color:var(--white);
}


.built-with{
    display:flex;
}

.built-with >*{
    margin: 0px 10px;
    font-size: 0.8rem;
}

.built-with i{
    font-size: 2rem;
}

.fa-github{
    font-size:1.5rem;
    
}

.portfolio-number{
    font-family:Mandalore;
    font-size: 2rem;
}


.lets-connect{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact-button{
    background-color: var(--red);
    border:none;
    color:var(--white);
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.lets-connect >*{
    margin:20px;
    
}



.contact-info{
    flex-direction: column;
    display:none;
    text-align: center;
}

.contact-info a{
    color:var(--red);
    margin:10px;
    text-align: center;
    
}

.fa-mug-hot{
    margin:0px;
}



.fa-bars {
    color:var(--white);
}

.fa-circle-arrow-down{
    color:var(--white);
    font-size:1rem;
    margin:0px;
    margin-left: 5px;
}

.modal{
    display:none;
}

.expand-message{
    visibility: hidden;
    position:absolute;
}

@media only screen and (min-width: 750px){

    
    .cover-container{
        flex-direction: row-reverse;
        justify-content: center;
    }

    .image-container{
        max-width:500px;
    }

    .mobile-img{
        display:none;
    }

    .desktop-img{
        display:block;
    }

    .text-container h1{
        font-size: 2rem;
    }
    
    .text-container h2{
        font-size: 2.5rem;
    }

    .cv-button{
        padding:10px 25px;
    }

    .mid-section{
        display:grid;
        max-width:750px;
        margin:25px auto;
        row-gap: 10px;
        grid-template-areas: 
        "bio-container skills-container"
        "links-container links-container";
    }

    .bio-container{
        grid-area: bio-container;
    }

    .skills-container{
        grid-area: skills-container;
        align-self: end;
    }

    .skill-icons{
        margin:0px;
        cursor: pointer;
        position:relative;

    }


    .bio-headline{
        margin:0px;
    }

    .links-container{
        grid-area: links-container;

    }

    .mid-section h2{
        margin:20px;
    }

    .portfolio{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }

    .portfolio-item{
        max-width: 300px;
    }

    .portfolio-card{
        height:300px;
    }

    .portfolio-item:hover{
        filter: drop-shadow(0px 0px 0.4rem var(--red))
    }

    .last-section{
        max-width:1000px;
        margin:50px auto;
        display:grid;
        grid-template-areas: 
        "links-container bio-info"
        "education education"
        "other-skills other-skills"
        "lets-connect lets-connect";

    }

    .links{
        margin:0px;
    }

    .links-container{
        grid-area:links-container;
        
    }
    .bio-info{
        grid-area:bio-info;
    }
    .education {
        grid-area: education;
    }
    .other-skills{
        grid-area:other-skills;
    }
    .lets-connect{
        grid-area:lets-connect;
    }

    .contact-button:hover{
        background-color: #0a192f;
        border:solid 2px var(--red);

    }

    .fa-github, .fa-linkedin-in{
        transition: transform .2s;
    }

    .fa-github:hover, .fa-linkedin-in:hover{
        color:var(--white);
        transform: scale(1.2);
        

    }

    .modal-container{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        display: none;
        z-index: 2;
    }

    .modal h2{
        text-align: center;
    }

    .modal{
        position: absolute;
        display:block;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%); 
        background-color: var(--dark-navy);
    }

    .expand-message{
        color:var(--white);
        position:absolute;
        top:50%;
        padding:10px;
        background-color: var(--red);
        display:none;
        visibility: visible;
    }

























    
}


